This is the system {{ ansible_hostname }}.
Today's date is: {{ ansible_date_time.date }}.
Current time is: {{ ansible_date_time.time }}.
Only use this system with permission.
You can ask {{ system_owner }} for access.
